:root {
  --lightGray: #e7e5e6;
  --white: #ffffff;
  --brown: #161111;
  --orange: #c28964;
  --selected: #5d5f2d;
}

body {
  background-color: var(--white);
  margin: 0;
}

h1 {
  font-family: 'Aleo', serif;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17;
}

header {
  background-image: url('images/whats-cooking-banner.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.x-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
}

.logo {
  font-size: 66px;
}

.topnav {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topnav input {
  width: 488px;
  height: 20px;
  background-color: var(--white);
  font-size: 15px;
  font-weight: 200;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-input {
  padding-right: 25px;
}

i.fa-magnifying-glass {
  transform: translateY(-50%);
  z-index: 1;
}

.tagline {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.tagbar {
  display: flex;
  margin: 50px;
}

ul {
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background-color: var(--lightGray);
  border-radius: 25px;
  height: 50px;
  width: 80%;
}

.tag-button {
  border: none;
  color: var(--orange);
  background-color: var(--lightGray);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.hidden {
  display: none;
}

.selected {
  color: var(--selected);
  font-weight: 700;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-item {
  height: 250px;
  width: 20%;
  text-align: center;
  margin-right: 20px;
}

.recipe-item img,
.recipe-item p {
  cursor: pointer;
}

.recipe-item img {
  height: 150px;
  width: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.recipe-name {
  padding-left: 15vw;
  padding-right: 15vw;
}

.recipe-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

header span {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--brown);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav h1 {
  font-size: 50px;
  font-weight: 100;
}

.sidenav a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: var(--white);
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.recipe{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  font-family: 'Poppins', sans-serif;
}

.recipe-top {
  width: 100%;
  height: 50%;
  display: flex;
  border-bottom: 1px solid var(--orange);
}

.recipe-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-title h1 {
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  padding: 0 50px;
}

.orange-text {
  color: var(--orange);
}

.tags {
  padding: 0 200px;
  text-align: center;
}

.recipe-title p {
  font-weight: 500;
}

.recipe-title button{
  border: none;
  font-family: 'Poppins', sans-serif;
  background-color: var(--lightGray);
  width: 125px;
  aspect-ratio: 4 / 1;
  font-size: 13px;
  font-weight: 200;
}

.fa-bookmark {
  padding-right: 5px;
}

.recipe-picture {
  width: 50%;
  overflow: hidden;
}

.recipe-picture img {
  width: 100%;
  height: auto;
}

.recipe-bottom {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

.recipe-ingredients {
  width: 35%;
  padding-left: 5vw;
}

.recipe-instructions{
  width: 65%;
  padding-right: 5vw;
}

.hidden {
  display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
