:root {
  --lightGray: #e7e5e6;
  --white: #ffffff;
  --brown: #161111;
  --orange: #c28964;
  --selected: #5D5F2D;
}

body {
  background-color: var(--white);
  margin: 0;
}

h1 {
  font-family: 'Aleo', serif;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17;
}

header {
  background-image: url('images/whats-cooking-banner.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.logo {
  font-size: 66px;
}

.topnav {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topnav input {
  width: 488px;
  height: 20px;
  background-color: var(--white);
  font-size: 15px;
  font-weight: 200;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-input {
  padding-right: 25px;
}

i.fa-magnifying-glass {
  transform: translateY(-50%);
  z-index: 1;
}

.tagline {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.tagbar {
  display: flex;
  margin: 50px;
}

ul {
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background-color: var(--lightGray);
  border-radius: 25px;
  height: 50px;
  width: 80%;
}

.tag-button {
  border: none;
  color: var(--orange);
  background-color: var(--lightGray);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.hidden {
  display: none;
}

.selected {
  color: var(--selected);
  font-weight: 700;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  height: 250px;
  width: 300px;
  text-align: center;
  margin-right: 20px;
}

.grid-item img,
.grid-item p {
  cursor: pointer;
}

.grid-item img {
  height: 150px;
  width: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.recipe-name {
  padding: 0 30px 0 30px;
}

 .recipe-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
 }

header span {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--brown);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav h1 {
  font-size: 50px;
  font-weight: 100;
}

.sidenav a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: var(--white);
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
